.List{
    width:100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    overflow-y: scroll;
}

.List::-webkit-scrollbar{
    display: none;
}